<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carbon - Admin Template</title>
    <link rel="stylesheet" href="/static/dist/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/static/dist/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/dist/css/styles.css">
</head>
<body>
    <div align="center" style="margin-top:100px">
        {{msg}}
    </div>
    </br>
    <div align="center">
    <div align="center" id="timer" style="display:inline-block;">
        10
    </div>
    <div style="display:inline-block;">
        秒后跳转到登录页面。。。
    </div>
    </div>
    <script>
        window.onload=function(){
            setInterval(go,1000);
        }
        var count = 10;
        function go(){
            if(count>0){
                document.getElementById('timer').innerText=count;
            }else{
                location.href='/cmdb/login/';
            }
            count--;
        }
    </script>
</body>
</html>
