<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carbon - Admin Template</title>
    <link rel="stylesheet" href='{% static "myweb/dist/vendor/simple-line-icons/css/simple-line-icons.css" %}'>
    <link rel="stylesheet" href='{% static "myweb/dist/vendor/font-awesome/css/fontawesome-all.min.css" %}'>
    <link rel="stylesheet" href='{% static "myweb/dist/css/styles.css" %}'>
</head>
<body>
    <div>
        您正在使用密码找回功能，验证码为：{{verify_code}}，10分钟内有效。
    </div>
</body>
</html>
