{% extends "master/layout.html" %}
{% block content %}
        <div class="content">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card p-4">
                            <div class="card-header bg-light">
                                用户资料<label style="color: red;">{{ status }}</label>
                            </div>

                            <div class="card-body">

                                {% for item in userinfo %}
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label class="form-control-label require">用户名</label>
                                            <input type="text" class="form-control" value={{ item.username }} readonly>
                                        </div>
                                    </div>
<!--
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="password" class="form-control-label require">密码</label>
                                            <input type="password" id="password" class="form-control" placeholder="密码" name="password" value={{ item.password }}>
                                        </div>
                                    </div>
-->
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label class="require">邮箱</label>
                                            <input type="email" class="form-control" value={{ item.email }} readonly>
                                        </div>
                                    </div>

                                    <!--<div class="col-md-7">
                                        <div class="form-group">
                                            <label class="require">用户类型</label>
                                            <input type="text" class="form-control" value={{ item.usertype.name }} readonly>
                                        </div>
                                    </div>-->

                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label class="form-control-label">工作流编号</label>
                                            <input type="text" class="form-control" value={{ item.workflow_order }} readonly>
                                        </div>
                                    </div>

                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label class="form-control-label">激活状态</label>
                                            <input type="text" class="form-control" value={{ item.is_active }} readonly>
                                        </div>
                                    </div>

                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="multi-select">用户组</label>
                                            <select id="multi-select" class="form-control" name="group" multiple="" readonly>
                                                {% for item in item.groups.all %}
                                                <option value={{item.id}} selected>{{item.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="multi-select-2">权限</label>
                                            <select id="multi-select-2" class="form-control" name="perm" multiple="" readonly>
                                                {% for item in perm_selected %}
                                                <option value={{item.id}} selected>{{item.content_type.app_label}} | {{item.content_type}} | {{item.name}} | {{item.codename}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                    </div>


                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="textarea">备注</label>
                                            <textarea id="textarea" class="form-control" rows="6" name="memo" readonly>{{item.memo}}</textarea>
                                        </div>
                                    </div>
                                 {% endfor %}
                            </div>
<!--
                            <div class="card-footer p-4">
                                <div class="row">
                                    <div class="col-5">
                                        <button type="submit" class="btn btn-primary px-5">更新</button>
                                    </div>
                                    <div class="col-5">
                                        <a href="/cmdb/index/table/user/" class="btn btn-outline-primary px-5">取消</a>
                                    </div>
                                </div>
                            </div>
-->
                        </div>
                    </div>
                </div>
            </div>

        </div>
{% endblock %}
{% block javascript %}
    <script>
    </script>
{% endblock %}