<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carbon - Admin Template</title>
    <link rel="stylesheet" href='{% static "myweb/dist/vendor/simple-line-icons/css/simple-line-icons.css" %}'>
    <link rel="stylesheet" href='{% static "myweb/dist/vendor/font-awesome/css/fontawesome-all.min.css" %}'>
    <link rel="stylesheet" href='{% static "myweb/dist/css/styles.css" %}'>
</head>
<body>
<form method="post" action="/cmdb/register/">
<div class="page-wrapper flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card p-4">
                    <div class="card-header text-center text-uppercase h4 font-weight-light">
                        注册
                    </div>

                    <div class="card-body py-5">
 <!--                       <div class="form-group">
                            <label class="form-control-label">用户名</label>
                            <label style="color:red";>{{status}}</label>
                            <input type="text" class="form-control" name="user">
                        </div>
-->
                        <label style="color:red";>{{status}}</label>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                               <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="用户名" name="user">
                        </div>
 <!--
                        <div class="form-group">
                            <label class="form-control-label">邮箱</label>
                            <input type="email" class="form-control" name="email">
                        </div>
-->
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                            </div>
                            <input type="email" class="form-control" placeholder="邮箱" aria-describedby="basic-addon2" name="email">
                        </div>
<!--
                        <div class="form-group">
                            <label class="form-control-label">密码</label>
                            <input type="password" class="form-control" name="pwd1">
                        </div>
-->
                        <div class="input-group mb-3">
                           <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-lock"></i></span>
                           </div>
                           <input type="password" class="form-control" placeholder="密码" name="pwd1">
                        </div>
<!--
                        <div class="form-group">
                            <label class="form-control-label">确认密码</label>
                            <input type="password" class="form-control" name="pwd2">
                        </div>
-->
                        <div class="input-group mb-3">
                           <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-lock"></i></span>
                           </div>
                           <input type="password" class="form-control" placeholder="确认密码" name="pwd2">
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-success btn-block">创建账户</button>
                            </div>
                            <div class="col-6">
                                <a href="/cmdb/login/" class="btn btn-outline-success btn-block">
                                    <i class="icon icon-action-undo"></i>  取消
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 </form>
<script src='{% static "myweb/dist/vendor/jquery/jquery.min.js" %}'></script>
<script src='{% static "myweb/dist/vendor/popper.js/popper.min.js" %}'></script>
<script src='{% static "myweb/dist/vendor/bootstrap/js/bootstrap.min.js" %}'></script>
<script src='{% static "myweb/dist/vendor/chart.js/chart.min.js" %}'></script>
<script src='{% static "/myweb/dist/js/carbon.js" %}'></script>
<script src='{% static "myweb/dist/js/demo.js" %}'></script>
</body>
</html>
