{% extends "master/layout.html" %}
{% block content %}
        <div class="content">
        {% block formTitle %}
            <form method="post" action="/cmdb/index/table/usergroup/update/id={{id}}">
        {% endblock %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card p-4">
                            <div class="card-header bg-light">
                                更新组/角色
                                <label style="color: red;">
                                    {{ status }}
                                </label>
                            </div>

                            <div class="card-body">
                                {% for item in usergroup %}
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="usergroup" class="form-control-label require">组/角色</label>
                                            <input type="text" id="usergroup" class="form-control" placeholder="组/角色名称" name="usergroup" value={{ item.name }}>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="multi-select" class="require">权限</label>
                                            <select id="multi-select" class="form-control" name="perm" multiple="">
                                                {% for item in perm_selected %}
                                                <option value={{item.id}} selected>{{item.content_type.app_label}} | {{item.content_type}} | {{item.name}} | {{item.codename}}</option>
                                                {% endfor %}
                                                {% for item in perm %}
                                                <option value={{item.id}}>{{item.content_type.app_label}} | {{item.content_type}} | {{item.name}} | {{item.codename}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="card-footer p-4">
                                <div class="row">
                                    <div class="col-5">
                                        <button type="submit" class="btn btn-primary px-5">
                                            <i class="icon icon-check"></i>  更新
                                        </button>
                                    </div>
                                    <div class="col-5">
                                        <a href="../list/" class="btn btn-outline-primary px-5">
                                            <i class="icon icon-action-undo"></i>  取消
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% block formFooter %}
            </form>
        {% endblock %}
        </div>
{% endblock %}
{% block javascript %}
    <script>
    </script>
{% endblock %}