{% extends "master/layout.html" %}
{% block content %}
        <div class="content">
        {% block formTitle %}
            <form method="post" action="/cmdb/index/table/user/update/userid={{userid}}">
        {% endblock %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card p-4">
                            <div class="card-header bg-light">
                                更新用户<label style="color: red;">{{ status }}</label>
                            </div>

                            <div class="card-body">

                                {% for item in userinfo %}
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="username" class="form-control-label require">用户名</label>
                                            <input type="text" id="username" class="form-control" placeholder="用户名" name="username" value={{ item.username }}>
                                        </div>
                                    </div>
<!--
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="password" class="form-control-label require">密码</label>
                                            <input type="password" id="password" class="form-control" placeholder="密码" name="password" value={{ item.password }}>
                                        </div>
                                    </div>
-->
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="email">邮箱</label>
                                            <input type="email" id="email" class="form-control" placeholder="邮箱" name="email" value={{ item.email }}>
                                        </div>
                                    </div>
<!--
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="single-select-2" class="require">用户类型</label>
                                            <select id="single-select-2" class="form-control" name="usertype">
                                                {% for item in usertype_selected %}
                                                <option value={{item.id}}>{{item.name}}</option>
                                                {% endfor %}
                                                {% for item in usertype %}
                                                <option value={{item.id}}>{{item.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
-->

                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="single-select-4" class="require">是否激活</label>
                                            <select id="single-select-4" class="form-control" name="is_active">
                                                <option value=1>是</option>
                                                <option value=0>否</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="workflow_order" class="form-control-label">工作流编号</label>
                                            <input type=number id="workflow_order" class="form-control" placeholder="工作流编号" name="workflow_order" value={{ item.workflow_order }}>
                                        </div>
                                    </div>



                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="multi-select">用户组</label>
                                            <select id="multi-select" class="form-control" name="group" multiple="">
                                                {% for item in item.groups.all %}
                                                <option value={{item.id}} selected>{{item.name}}</option>
                                                {% endfor %}
                                                {% for item in group %}
                                                <option value={{item.id}}>{{item.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="multi-select-2">权限</label>
                                            <select id="multi-select-2" class="form-control" name="perm" multiple="">
                                                {% for item in perm_selected %}
                                                <option value={{item.id}} selected>{{item.content_type.app_label}} | {{item.content_type}} | {{item.name}} | {{item.codename}}</option>
                                                {% endfor %}
                                                {% for item in perm %}
                                                <option value={{item.id}}>{{item.content_type.app_label}} | {{item.content_type}} | {{item.name}} | {{item.codename}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                    </div>

                                    <!--
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="multi-select">用户组</label>
                                            <select id="multi-select" class="form-control" multiple="">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>-->

                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="textarea">备注</label>
                                            <textarea id="textarea" class="form-control" rows="6" name="memo">{{item.memo}}</textarea>
                                        </div>
                                    </div>
                                 {% endfor %}
                            </div>

                            <div class="card-footer p-4">
                                <div class="row">
                                    <div class="col-5">
                                        <button type="submit" class="btn btn-primary px-5">更新</button>
                                    </div>
                                    <div class="col-5">
                                        <a href="/cmdb/index/table/user/" class="btn btn-outline-primary px-5">取消</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% block formFooter %}
            </form>
        {% endblock %}
        </div>
{% endblock %}
{% block javascript %}
    <script>
    </script>
{% endblock %}