{% extends "master/layout.html" %}
{% block content %}
        <div class="content">
        {% block formTitle %}
            <form method="post" action="/cmdb/index/script/scripttype/update/id={{id}}">
        {% endblock %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card p-4">
                            <div class="card-header bg-light">
                                更新脚本类型<label style="color: red;">{{ status }}</label>
                            </div>

                            <div class="card-body">

                                    <div class="col-md-7">
                                        <div class="form-group">
                                            {% for item in scripttype %}
                                            <label for="scripttype" class="form-control-label require">脚本类型</label>
                                            <input type="text" id="scripttype" class="form-control" placeholder="脚本类型" name="scripttype" value={{ item.type }}>
                                            {% endfor %}
                                        </div>
                                    </div>

                            </div>

                            <div class="card-footer p-4">
                                <div class="row">
                                    <div class="col-5">
                                        <button type="submit" class="btn btn-primary px-5">更新</button>
                                    </div>
                                    <div class="col-5">
                                        <a href="/cmdb/index/script/scripttype/" class="btn btn-outline-primary px-5">取消</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% block formFooter %}
            </form>
        {% endblock %}
        </div>
{% endblock %}
{% block javascript %}
    <script>
    </script>
{% endblock %}