{% extends "master/layout.html" %}
{% block content %}
        <div class="content">
        {% block formTitle %}
            <form method="post" action="/cmdb/index/wf/wfbusiness/add/">
        {% endblock %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card p-4">

                            <div class="card-header bg-light">
                                添加业务单元<label style="color: red;">{{status}}</label>
                            </div>

                            <div class="card-body">

                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="wfbusiness" class="form-control-label require">项目名称</label>
                                            <input type="text" id="wfbusiness" class="form-control" placeholder="项目名称" name="wfbusiness">
                                        </div>
                                    </div>

                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="wfbusiness" class="form-control-label require">项目地址</label>
                                            <input type="text" id="repo" class="form-control" placeholder="项目地址" name="repo">
                                        </div>
                                    </div>



                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="single-select" class="require">业务负责人</label>
                                            <select id="single-select" class="form-control" name="director">
                                                {% for item in userinfo %}
                                                <option value={{item.id}}>{{item.username}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="single-select-2" class="require">所属部门</label>
                                            <select id="single-select-2" class="form-control" name="group">
                                                {% for item in usergroup %}
                                                <option value={{item.id}}>{{item.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                            </div>

                            <div class="card-footer p-4">
                                <div class="row">
                                    <div class="col-5">
                                        <button type="submit" class="btn btn-primary px-5">添加</button>
                                    </div>
                                    <div class="col-5">
                                        <a href="/cmdb/index/wf/wfbusiness/" class="btn btn-outline-primary px-5">取消</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {% block formFooter %}
                </form>
            {% endblock %}
        </div>
{% endblock %}
{% block javascript %}
<script>

function repoChange(arg){
        var wfbusiness=$(arg).val();
        console.log(wfbusiness);
        $.ajax({
                url:'/cmdb/index/wf/wfbusiness/ajax/',
                data:{wfbusiness:wfbusiness},
                type:'POST',
                success:function (data) {
                    //window.parent.location.reload();
                    //$(body).html(data);
                    //alert('删除成功')
                    console.log(data);
                    var director=JSON.parse(data)['director'];
                    var director_id=JSON.parse(data)['director_id'];
                    console.log(director,director_id);
                    target=document.getElementById('single-select');
                    console.log(target);
                    target.innerHTML='<option value='+director_id+'>'+director+'</option>';
                },
                error:function () {
                    alert('服务器异常');
                }
            });
    }

</script>
{% endblock %}