{% extends "master/layout.html" %}
{% block formTitle %}
<form method="post" action="/cmdb/index/wf/update/id={{id}}">
{% endblock %}
{% block content %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card p-4">
                            <div class="card-header bg-light">
                                更新流程<label style="color: red;">{{ status }}</label>
                            </div>

                            <div class="card-body">


                                    <div class="col-md-7">
                                        <div class="form-group">
                                            {% for item in sponsor %}
                                            <label for="sponsor" class="form-control-label require">发起人</label>
                                            <input type="text" id="sponsor" class="form-control" readonly placeholder="发起人" name="sponsor" value={{ item.sponsor }}>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-md-7">
                                        <div class="form-group">
                                            {% for item in type %}
                                            <label for="type" class="form-control-label require">工单类型</label>
                                            <input type="text" id="type" class="form-control" readonly placeholder="工单类型" name="type" value={{ item.name }}>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-md-7">
                                        <div class="form-group">
                                            {% for item in title %}
                                            <label for="title" class="form-control-label require">标题</label>
                                            <input type="text" id="title" class="form-control" value="{{item.title}}" name="title">
                                        {% endfor %}
                                        </div>
                                    </div>


                                    <div class="col-md-7">
                                        <div class="form-group">
                                            {% for item in content %}
                                            <label for="content" class="require">工单内容</label>
                                            <textarea id="content" class="form-control" placeholder="工单内容" name="content">{{ item.content }}</textarea>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="single-select" class="require">审批人</label>
                                            <select id="single-select" class="form-control" name="approval">
                                                {% for item in approval_selected %}
                                                <option value={{item.id}}>{{item.leader}}</option>
                                                {% endfor %}
                                                {% for item in approval %}
                                                <option value={{item.id}}>{{item.leader}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>





                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="textarea">备注</label>
                                            {% for item in memo %}
                                            <textarea id="textarea" class="form-control" rows="6" name="memo">{{item.memo}}</textarea>
                                            {% endfor %}
                                        </div>
                                    </div>

                            </div>

                            <div class="card-footer p-4">
                                <div class="row">
                                    <div class="col-5">
                                        <button type="submit" class="btn btn-primary px-5">更新</button>
                                    </div>
                                    <div class="col-5">
                                        <a href="/cmdb/index/wf/" class="btn btn-outline-primary px-5">取消</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block formFooter %}
</form>
{% endblock %}
{% block javascript %}
    <script>


    </script>
{% endblock %}