{% extends "master/layout.html" %}
{% block content %}
        <div class="content">
        {% block formTitle %}
            <form method="post" action="/cmdb/index/assets/cpu/update/id={{id}}">
        {% endblock %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card p-4">
                            <div class="card-header bg-light">
                                更新cpu<label style="color: red;">{{ status }}</label>
                            </div>

                            <div class="card-body">
                                {% for item in cpu %}
                                <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="single-select" class="require">资产</label>
                                            <select id="single-select" class="form-control" name="server_info">

                                                <option value={{item.server_info.id}}>{{item.server_info.hostname}}</option>

                                                {% for item in host %}
                                                <option value={{item.id}}>{{item.hostname}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="name" class="form-control-label require">CPU名称</label>
                                            <input type="text" id="name" class="form-control" placeholder="CPU名称" name="name" value="{{item.name}}">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="model" class="form-control-label require">CPU型号</label>
                                            <input type="text" id="model" class="form-control" placeholder="CPU型号" name="model" value="{{item.model}}">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="core_num" class="form-control-label require">CPU核数</label>
                                            <input type="number" id="core_num" class="form-control" placeholder="CPU核数" name="core_num" value="{{item.core_num}}">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="textarea">备注</label>
                                            <textarea id="textarea" class="form-control" rows="6" name="memo">{{item.memo}}</textarea>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="card-footer p-4">
                                <div class="row">
                                    <div class="col-5">
                                        <button type="submit" class="btn btn-primary px-5">更新</button>
                                    </div>
                                    <div class="col-5">
                                        <a href="/cmdb/index/assets/cpu/" class="btn btn-outline-primary px-5">取消</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% block formFooter %}
            </form>
        {% endblock %}
        </div>
{% endblock %}
{% block javascript %}
    <script>
    </script>
{% endblock %}