{% extends "master/layout.html" %}
{% block content %}
        <div class="content">
        {% block formTitle %}
            <form method="post" action="/cmdb/index/assets/memory/update/id={{id}}">
        {% endblock %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card p-4">
                            <div class="card-header bg-light">
                                更新memory<label style="color: red;">{{ status }}</label>
                            </div>

                            <div class="card-body">
                                {% for item in memory %}
                                <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="single-select" class="require">资产</label>
                                            <select id="single-select" class="form-control" name="server_info">

                                                <option value={{item.server_info.id}}>{{item.server_info.hostname}}</option>

                                                {% for item in host %}
                                                <option value={{item.id}}>{{item.hostname}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="name" class="form-control-label require">插槽名称</label>
                                            <input type="text" id="name" class="form-control" placeholder="插槽名称" name="slot" value="{{item.slot}}">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="model" class="form-control-label require">内存型号</label>
                                            <input type="text" id="model" class="form-control" placeholder="内存型号" name="model" value="{{item.model}}">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="capacity" class="form-control-label require">内存容量</label>
                                            <input type="number" id="capacity" class="form-control" placeholder="内存容量" name="capacity" value="{{item.capacity}}">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="ifac_type" class="form-control-label require">接口类型</label>
                                            <input type="text" id="ifac_type" class="form-control" placeholder="接口类型" name="ifac_type" value="{{item.ifac_type}}">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="textarea">备注</label>
                                            <textarea id="textarea" class="form-control" rows="6" name="memo">{{item.memo}}</textarea>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="card-footer p-4">
                                <div class="row">
                                    <div class="col-5">
                                        <button type="submit" class="btn btn-primary px-5">更新</button>
                                    </div>
                                    <div class="col-5">
                                        <a href="/cmdb/index/assets/memory/" class="btn btn-outline-primary px-5">取消</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% block formFooter %}
            </form>
        {% endblock %}
        </div>
{% endblock %}
{% block javascript %}
    <script>
    </script>
{% endblock %}