{% extends "master/layout.html" %}
{% block content %}
        <div class="content">
        {% block formTitle %}
            <form method="post" action="/cmdb/index/assets/network/add/">
        {% endblock %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card p-4">

                            <div class="card-header bg-light">
                                添加网络设备<label style="color: red;">{{status}}</label>
                            </div>

                            <div class="card-body">

                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="single-select" class="require">资产</label>
                                            <select id="single-select" class="form-control" name="asset">
                                                {% for item in asset %}
                                                <option value={{item.id}}>{{item}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="name" class="form-control-label require">设备名称</label>
                                            <input type="text" id="name" class="form-control" placeholder="设备名称" name="name">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="sn" class="form-control-label require">SN号</label>
                                            <input type="text" id="sn" class="form-control" placeholder="SN号" name="sn">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="manufactory" class="form-control-label require">厂商</label>
                                            <input type="text" id="manufactory" class="form-control" placeholder="厂商" name="manufactory">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="model" class="form-control-label require">型号</label>
                                            <input type="text" id="model" class="form-control" placeholder="型号" name="model">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="textarea">备注</label>
                                            <textarea id="textarea" class="form-control" rows="6" name="memo"></textarea>
                                        </div>
                                    </div>

                            </div>

                            <div class="card-footer p-4">
                                <div class="row">
                                    <div class="col-5">
                                        <button type="submit" class="btn btn-primary px-5">添加</button>
                                    </div>
                                    <div class="col-5">
                                        <a href="/cmdb/index/assets/network/" class="btn btn-outline-primary px-5">取消</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {% block formFooter %}
                </form>
            {% endblock %}
        </div>
{% endblock %}
