{% extends "master/layout.html" %}
{% block content %}
        <div class="content">
        {% block formTitle %}
            <form method="post" action="/cmdb/index/assets/tag/update/id={{id}}">
        {% endblock %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card p-4">
                            <div class="card-header bg-light">
                                更新标签<label style="color: red;">{{ status }}</label>
                            </div>

                            <div class="card-body">
                                {% for item in tag %}
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="tag" class="form-control-label require">标签名</label>
                                            <input type="text" id="tag" class="form-control" placeholder="标签名" name="tag" value={{ item.name }}>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="memo" class="form-control-label">备注</label>
                                            <input type="text" id="memo" class="form-control" placeholder="备注" name="memo" value={{ item.memo }}>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="card-footer p-4">
                                <div class="row">
                                    <div class="col-5">
                                        <button type="submit" class="btn btn-primary px-5">更新</button>
                                    </div>
                                    <div class="col-5">
                                        <a href="/cmdb/index/assets/tag/" class="btn btn-outline-primary px-5">取消</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% block formFooter %}
            </form>
        {% endblock %}
        </div>
{% endblock %}
{% block javascript %}
    <script>
    </script>
{% endblock %}