{% extends "master/layout.html" %}
{% block content %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header bg-light">
                                Normal Alerts
                            </div>

                            <div class="card-body">
                                <div class="alert alert-primary">.alert .alert-primary</div>
                                <div class="alert alert-secondary">.alert .alert-secondary</div>
                                <div class="alert alert-danger">.alert .alert-danger</div>
                                <div class="alert alert-success">.alert .alert-success</div>
                                <div class="alert alert-warning">.alert .alert-warning</div>
                                <div class="alert alert-info">.alert .alert-info</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header bg-light">
                                Dismissible Alerts
                            </div>

                            <div class="card-body">
                                <div class="alert alert-dismissible alert-primary">
                                    .alert .alert-dismissible .alert-primary

                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="alert alert-dismissible alert-secondary">
                                    .alert .alert-dismissible .alert-secondary

                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="alert alert-dismissible alert-danger">
                                    .alert .alert-dismissible .alert-danger

                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="alert alert-dismissible alert-success">
                                    .alert .alert-dismissible .alert-success

                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="alert alert-dismissible alert-warning">
                                    .alert .alert-dismissible .alert-warning

                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="alert alert-dismissible alert-info">
                                    .alert .alert-dismissible .alert-info

                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}