<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carbon - Admin Template</title>
    <link rel="stylesheet" href='{% static "myweb/dist/vendor/simple-line-icons/css/simple-line-icons.css" %}'>
    <link rel="stylesheet" href='{% static "myweb/dist/vendor/font-awesome/css/fontawesome-all.min.css" %}'>
    <link rel="stylesheet" href='{% static "myweb/dist/css/styles.css" %}'>
    <link rel="stylesheet" href='{% static "myweb/dist/css/footer.css" %}'>
    <style>
    </style>
</head>

<body class="sidebar-fixed header-fixed">
    <div class="page-wrapper">
        <nav class="navbar page-header">
            <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
                <i class="fa fa-bars"></i>
            </a>

            <a class="navbar-brand" href="#">
                <img src='{% static "myweb/dist/imgs/logo.png" %}' alt="logo">
            </a>

            <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
                <i class="fa fa-bars"></i>
            </a>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item d-md-down-none">
                    <a href="/cmdb/index/wf/tasks/list/">
                        <span>待审批</span>
                        <i class="fa fa-bell"></i>
                        {% if wf_count_pending > 0 %}
                        <span class="badge badge-pill badge-danger">{{ wf_count_pending }}</span>
                        {% else %}
                        <span class="badge badge-pill badge-danger"></span>
                        {% endif %}
                        <span style="margin-left: 10px;">|</span>
                    </a>
                </li>

                <!-- Add a space between list items -->
                <li class="nav-item d-md-down-none" style="margin-left: 10px;">
                    <a href="/cmdb/index/monitor/skywalking/alert/list/">
                        <span>skywalking告警</span>
                        <i class="fa fa-envelope-open"></i>
                        <span class="badge badge-pill badge-danger"></span>
                        <span style="margin-left: 10px;">|</span>
                    </a>
                </li>

                <!-- Add a space between list items -->
                <li class="nav-item d-md-down-none" style="margin-left: 10px;">
                    <a href="/cmdb/index/monitor/prometheus/alert/list/">
                        <span>prometheus告警</span>
                        <i class="fa fa-envelope-open"></i>
                        <span class="badge badge-pill badge-danger"></span>
                        <span style="margin-left: 10px;">|</span>
                    </a>
                </li>

                <!-- Add a space between list items -->
                <li class="nav-item dropdown" style="margin-left: 10px;">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src='{% static "myweb/dist/imgs/avatar-1.png" %}' class="avatar avatar-sm" alt="logo">
                        <span class="small ml-1 d-md-down-none">{{ login_user }}</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-header">账户</div>

                        <a href="/cmdb/index/table/user/form_get_profile/username={{ login_user }}" class="dropdown-item">
                            <i class="fa fa-user"></i> 个人信息
                        </a>

                        <a href="/cmdb/index/monitor/skywalking/alert/list/" class="dropdown-item">
                            <i class="fa fa-envelope"></i> Messages
                        </a>

                        <div class="dropdown-header">设置</div>

                        <a href="/cmdb/index/table/user/form_change_password/username={{ login_user }}" class="dropdown-item">
                            <i class="fa fa-wrench"></i> 密码修改
                        </a>

                        <a href="/cmdb/logout/" class="dropdown-item">
                            <i class="fa fa-lock"></i> 注销登录

                        </a>
                    </div>
                </li>
            </ul>
        </nav>



        <div class="main-container">
            <div class="sidebar">
                <nav class="sidebar-nav">
                    <ul class="nav">
                        <li class="nav-title">Navigation</li>

                        <li class="nav-item">
                            <a href="/cmdb/index/" class="nav-link active">
                                <i class="icon icon-speedometer"></i> 仪表盘
                            </a>
                        </li>



                        <li class="nav-item  nav-dropdown" id="user">
                            <a href="#" class="nav-link nav-dropdown-toggle">
                                <i class="icon icon-people"></i> 用户管理 <i class="fa fa-caret-left"></i>
                            </a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a href="/cmdb/index/table/user/list/" class="nav-link">
                                        <i class="icon icon-user"></i> 用户列表
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/cmdb/index/permission/list/" class="nav-link">
                                        <i class="icon icon-lock"></i> 权限列表
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/cmdb/index/table/usergroup/list/" class="nav-link">
                                        <i class="icon icon-shield"></i> 组/角色
                                    </a>
                                </li>
                                </ul>
                        </li>


                        <li class="nav-item  nav-dropdown" id="assets">
                            <a href="#" class="nav-link nav-dropdown-toggle">
                                <i class="icon icon-screen-desktop"></i> 资产管理 <i class="fa fa-caret-left"></i>
                            </a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a href="/cmdb/index/assets/asset/list/" class="nav-link">
                                        <i class="icon icon-organization"></i> 资产列表
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/cmdb/index/assets/env-type/list/" class="nav-link">
                                        <i class="icon icon-frame"></i> 环境列表
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/cmdb/index/assets/os-type/list/" class="nav-link">
                                        <i class="icon icon-loop"></i> 操作系统列表
                                    </a>
                                </li>

                                <!--
                                <li class="nav-item">
                                    <a href="/cmdb/index/assets/host/" class="nav-link">
                                        <i class="icon icon-graph"></i> 服务器列表
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/cmdb/index/assets/cpu/" class="nav-link">
                                        <i class="icon icon-graph"></i> CPU列表
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/cmdb/index/assets/memory/" class="nav-link">
                                        <i class="icon icon-graph"></i> 内存列表
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/cmdb/index/assets/nic/" class="nav-link">
                                        <i class="icon icon-graph"></i> 网卡列表
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/cmdb/index/assets/disk/" class="nav-link">
                                        <i class="icon icon-graph"></i> 硬盘列表
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/cmdb/index/assets/network/" class="nav-link">
                                        <i class="icon icon-graph"></i> 网络设备列表
                                    </a>
                                </li>
                                -->

                                <li class="nav-item">
                                    <a href="/cmdb/index/assets/device-type/list/" class="nav-link">
                                        <i class="icon icon-wrench"></i> 设备类型
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/cmdb/index/assets/device-status/list/" class="nav-link">
                                        <i class="icon icon-bubble"></i> 设备状态
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/cmdb/index/assets/idc/list/" class="nav-link">
                                        <i class="icon icon-home"></i> IDC机房
                                    </a>
                                </li>
                                <!--
                                <li class="nav-item">
                                    <a href="/cmdb/index/assets/contract/" class="nav-link">
                                        <i class="icon icon-graph"></i> 合同
                                    </a>
                                </li>
                                -->
                                <li class="nav-item">
                                    <a href="/cmdb/index/assets/tag/list/" class="nav-link">
                                        <i class="icon icon-tag"></i> 标签
                                    </a>
                                </li>
                                <!--
                                <li class="nav-item">
                                    <a href="/cmdb/index/table/usertype/" class="nav-link">
                                        <i class="icon icon-graph"></i> 操作日志
                                    </a>
                                </li>
                                -->
                                </ul>
                        </li>

                        <li class="nav-item  nav-dropdown" id="monitor">
                            <a href="#" class="nav-link nav-dropdown-toggle">
                                <i class="icon icon-energy"></i> 监控 <i class="fa fa-caret-left"></i>
                            </a>
                            <ul class="nav-dropdown-items">

                                <!--<li class="nav-item">
                                    <a href="/cmdb/index/monitor/zabbix/" class="nav-link">
                                        <i class="icon icon-energy"></i> zabbix监控
                                    </a>
                                </li>-->
                                <!--<li class="nav-item">
                                    <a href="/cmdb/index/monitor/prometheus/alert/list/" class="nav-link">
                                        <i class="icon icon-fire"></i> prometheus监控
                                    </a>
                                </li>-->
                                <li class="nav-item">
                                    <a href="/cmdb/index/monitor/prometheus/dashboard/" class="nav-link">
                                        <i class="icon icon-fire"></i> prometheus监控
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/cmdb/index/monitor/prometheus/alert/list/" class="nav-link">
                                        <i class="icon icon-list"></i> prometheus告警
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/cmdb/index/monitor/skywalking/dashboard/" class="nav-link">
                                        <i class="icon icon-graph"></i> skywalking监控
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/cmdb/index/monitor/skywalking/alert/list/" class="nav-link">
                                        <i class="icon icon-list"></i> skywalking告警
                                    </a>
                                </li>
                                </ul>
                        </li>

                        <li class="nav-item  nav-dropdown" id="task">
                            <a href="#" class="nav-link nav-dropdown-toggle">
                                <i class="icon icon-rocket"></i> 任务发布 <i class="fa fa-caret-left"></i>
                            </a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a href="/cmdb/index/deploy/task/list/" class="nav-link">
                                        <i class="icon icon-list"></i> 发布列表
                                    </a>
                                </li>


                                <li class="nav-item">
                                    <a href="/cmdb/index/deploy/app/list/" class="nav-link">
                                        <i class="icon icon-equalizer"></i> 应用列表
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/cmdb/index/deploy/scripttype/list/" class="nav-link">
                                        <i class="icon icon-puzzle"></i> 脚本类型
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item  nav-dropdown" id="workflow">
                            <a href="#" class="nav-link nav-dropdown-toggle">
                                <i class="icon icon-paper-plane"></i> 工单系统 <i class="fa fa-caret-left"></i>
                            </a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a href="/cmdb/index/wf/requests/list/" class="nav-link">
                                        <i class="icon icon-user-following"></i> 我的请求
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/cmdb/index/wf/tasks/list/" class="nav-link">
                                        <i class="icon icon-user-unfollow"></i> 我的待办
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/cmdb/index/wf/list/" class="nav-link">
                                        <i class="icon icon-target"></i> 所有工单
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/cmdb/index/wf/wftype/list/" class="nav-link">
                                        <i class="icon icon-compass"></i> 工单类型
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/cmdb/index/wf/wfbusiness/list/" class="nav-link">
                                        <i class="icon icon-map"></i> 业务单元
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item  nav-dropdown" id="audit">
                            <a href="#" class="nav-link nav-dropdown-toggle">
                                <i class="icon icon-settings"></i> 后台管理 <i class="fa fa-caret-left"></i>
                            </a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a href="/cmdb/index/audit/oplog/list/" class="nav-link">
                                        <i class="icon icon-info"></i> 操作日志
                                    </a>
                                </li>

                            </ul>
                        </li>


<!--
                        <li class="nav-title">More</li>

                        <li class="nav-item nav-dropdown" id="layout">
                            <a href="#" class="nav-link nav-dropdown-toggle">
                                <i class="icon icon-target"></i> Layouts <i class="fa fa-caret-left"></i>
                            </a>

                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a href="/cmdb/index/layout/normal/" class="nav-link">
                                        <i class="icon icon-target"></i> Normal
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/cmdb/index/layout/fixed-sidebar/" class="nav-link">
                                        <i class="icon icon-target"></i> Fixed Sidebar
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/cmdb/index/layout/fixed-header/" class="nav-link">
                                        <i class="icon icon-target"></i> Fixed Header
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/cmdb/index/layout/hide-sidebar/" class="nav-link">
                                        <i class="icon icon-target"></i> Hidden Sidebar
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item nav-dropdown" id="ui">
                            <a href="#" class="nav-link nav-dropdown-toggle">
                                <i class="icon icon-energy"></i> UI Kits <i class="fa fa-caret-left"></i>
                            </a>

                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a href="/cmdb/index/ui/alert/" class="nav-link">
                                        <i class="icon icon-energy"></i> Alerts
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/cmdb/index/ui/button/" class="nav-link">
                                        <i class="icon icon-energy"></i> Buttons
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/cmdb/index/ui/card/" class="nav-link">
                                        <i class="icon icon-energy"></i> Cards
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/cmdb/index/ui/modal/" class="nav-link">
                                        <i class="icon icon-energy"></i> Modals
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/cmdb/index/ui/tab/" class="nav-link">
                                        <i class="icon icon-energy"></i> Tabs
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/cmdb/index/ui/progress-bar/" class="nav-link">
                                        <i class="icon icon-energy"></i> Progress Bars
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/cmdb/index/ui/widget/" class="nav-link">
                                        <i class="icon icon-energy"></i> Widgets
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item nav-dropdown" id="chart">
                            <a href="#" class="nav-link nav-dropdown-toggle">
                                <i class="icon icon-graph"></i> Charts <i class="fa fa-caret-left"></i>
                            </a>

                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a href="/cmdb/index/chart/js/" class="nav-link">
                                        <i class="icon icon-graph"></i> Chart.js
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="/cmdb/index/form/" class="nav-link">
                                <i class="icon icon-puzzle"></i> Forms
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/cmdb/index/tables/" class="nav-link">
                                <i class="icon icon-puzzle"></i> Tables
                            </a>
                        </li>

                        <li class="nav-item nav-dropdown" id="other">
                            <a href="#" class="nav-link nav-dropdown-toggle">
                                <i class="icon icon-umbrella"></i> Pages <i class="fa fa-caret-left"></i>
                            </a>

                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a href="/cmdb/index/page/blank/" class="nav-link">
                                        <i class="icon icon-umbrella"></i> Blank Page
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/cmdb/index/page/login/" class="nav-link">
                                        <i class="icon icon-umbrella"></i> Login
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/cmdb/index/page/register/" class="nav-link">
                                        <i class="icon icon-umbrella"></i> Register
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/cmdb/index/page/invoice/" class="nav-link">
                                        <i class="icon icon-umbrella"></i> Invoice
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/cmdb/index/page/404/" class="nav-link">
                                        <i class="icon icon-umbrella"></i> 404
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/cmdb/index/page/500/" class="nav-link">
                                        <i class="icon icon-umbrella"></i> 500
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/cmdb/index/page/set/" class="nav-link">
                                        <i class="icon icon-umbrella"></i> Settings
                                    </a>
                                </li>
                            </ul>
                        </li>
-->



                    </ul>
                </nav>
            </div>

            {% block content %}
                {% block formTitle %}
                {% endblock %}

                {% block formFooter %}
                {% endblock %}
            {% endblock %}
        </div>
        <nav class="navbar footer">
            版权所有@ 2019-<span id="footer"></span> chenhu 保留所有权利
            <span>
                <a href="https://github.com/chenhuxy/myweb" target="_blank">
                 <i class="icon icon-social-github"></i>
                </a>
            </span>
        </nav>
    </div>

    <script src='{% static "myweb/dist/vendor/jquery/jquery.min.js" %}'></script>
    <script src='{% static "myweb/dist/vendor/popper.js/popper.min.js" %}'></script>
    <script src='{% static "myweb/dist/vendor/bootstrap/js/bootstrap.min.js" %}'></script>
    <script src='{% static "myweb/dist/vendor/chart.js/chart.min.js" %}'></script>
    <script src='{% static "myweb/dist/js/carbon.js" %}'></script>
    <!--<script src="/static/dist/js/demo.js"></script>-->
    <script src='{% static "myweb/extra/jquery.cookie.js" %}'></script>
    <script src='{% static "myweb/extra/echarts.min.js" %}'></script>
    <script src='{% static "myweb/extra/chartjs-plugin-datalabels@0.7.0" %}'></script>
    <script>


    $(function(){
        // 更新页脚
        var date = new Date();
        document.getElementById("footer").innerHTML = date.getFullYear();

        // 刷新页面后清除cookie
        //console.log(window.performance.navigation.type);
        if (window.performance.navigation.type == 1) {
            // 清除cookie
            $.removeCookie('userCheck', { path: '/' });
        }

        // 绑定a链接的点击事件
        var arrSubNav = document.getElementsByClassName('nav-item nav-dropdown');
        for (var i = 0; i < arrSubNav.length; i++) {
            var arrUl = arrSubNav[i].getElementsByClassName('nav-dropdown-items');
            for (var k = 0; k < arrUl.length; k++) {
                var arrHref = arrUl[k].getElementsByClassName('nav-link');
                for (var j = 0; j < arrHref.length; j++) {
                    arrHref[j].addEventListener('click', function (event) {
                        //event.preventDefault(); // Prevent the default behavior of the click event
                        var nodeParent = this.parentNode.parentNode.parentNode;
                        var idParent = nodeParent.getAttribute('id');
                        $.cookie('userCheck', idParent, { path: '/' });
                        // 如果需要保持下拉菜单的状态，可以添加下面这行代码
                        $(nodeParent).addClass('open');
                    });
                }
            }
        }

        // 设置已选菜单的样式
        var menuSelected = $.cookie('userCheck');
        if(menuSelected){
            document.getElementById(menuSelected).setAttribute("class","nav-item nav-dropdown open");
        }

    });

    </script>
    {% block javascript %}
    {% endblock %}
</body>

</html>
